html {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container per centrare tutta la pagina  */
.container {
    width: 80%;
    margin: auto;
    height: 2200px;
    /* background-color: lightgrey; */
}


/* logo e titolo------------------  */
.logo-titolo {
    width: 200px;
    margin-bottom: 50px;
}

/* nav--------------------------- */
.link-nav {
    text-decoration: none;
    color: gray;
    font-size: 22px;
    font-weight: bold;
    margin-right: 20px;
}


/* dimesioni dell immagine dell header  */
.immagine-header {
    width: 100%;
    height: 650px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15px;
    display: inline-block;
    text-decoration: none;
    background-position: center;
}


/* caratteristiche del testo dentro l immagine dell header  */
.posizione {
    color: white;
    width: 60%;
    padding-left: 100px;
}

.titolo-immagine {
    padding-top: 450px;
    font-size: 2.5em;
}

.paragrafo-immagine {
    font-size: 20px;
}

/* titolo e sottotitolo del main---------------------  */
.titolo-main {
    font-size: 3em;
    font-weight: bold;
}

.sottotitolo-main {
    color: gray;
    font-size: 20px;
    font-weight: bold;
}

/* clearfix  */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* caratteristiche comuni delle colonne, sotto le caratteristiche specifiche delle colonne  */
.colonna {
    float: left;
    margin-top: 50px;
}

.colonna1 {
    width: 18%;
    margin-right: 2%;
}

.colonna2 {
    width: 60%;
    margin-right: 2%;
}

.colonna3 {
    width: 18%;
}

/* caratteristiche comuni delle immagini, sotto le caratteristiche specifiche delle immagini */
.immagine-colonna {
    width: 100%;
    height: 300px;
    margin-bottom: 50px;
    border-radius: 15px;
    display: inline-block;
}

/* sfondo colorato alle immagini  */
.sfondo-img {
    background-color: rgba(203, 203, 203, 0.5);
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

.img-n1 {
    margin-right: 2%;
    background-image: url(../img/img-1.jpg);
    background-size: cover;
}

.img-n2 {
    margin-right: 2%;
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-position: center;
}

.img-n3 {
    background-image: url(../img/img-3.jpg);
    background-size: cover;
}

/* modifico le caratteristiche de titoli e del testo  */
.titolini {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
}

.paragrafo-testo {
    color: gray;
    font-size: 25px;
}


/*  footer  */
footer {
    font-size: 30px;
    width: 200px;
    margin: auto;
    margin-top: 50px;

}

.cuore {
    color: red;
}